@model IEnumerable<LibraryStore.Models.User>

<h3>All Users</h3>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Name</td>
                <td>@u.Email</td>
                <td>@u.Role</td>
            </tr>
        }
    </tbody>
</table>